*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor{
    position: fixed;
    width: 100%;
    height: 100%;
    
}

.mitad{
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.izq{

    background:url(img/fondologin.png) no-repeat;
    background-size: cover;
}

.der{

    padding: 100px;
    box-sizing: border-box;
    
}

    h1{
        margin-top: 20px;
        color: #3b4859;
        text-align: center;
    }

    h5{
        color: #3b4859;
        margin: 20px 0px 10px 15px;
        font-size: 15px;
        font-weight: lighter;
    }

    input, button{

        width: 100%;
        height: 30px;
        border: none;
        border-radius: 17px ;
        border: 1px solid #3b4859;
        outline: none;
        padding: 10px;
        box-sizing: border-box;
    }

    button{
        padding: 3px;
        text-align: center;
        background: #3b4859;
        margin-top: 50px;
        color: #ffffff;
        margin-bottom: 20px;
        cursor: pointer;
    }

    hr{

        position: relative;
        float: left;
        width: calc(50% - 40px);
        background: rgba(0, 0, 0, .2);
        height: 1px;
        border: none;
        margin-top: 5px;

    }

    h6{

        position: relative;
        float: left;
        width: 80px;
        text-align: center;
        font-size: 11px;
        color: rgba(0, 0, 0, .5);
        margin-bottom: 10px;
    }

    .contimg{

        position: relative;
        float: left;
        width: 100%;
        text-align: center;
    }

        img{

            width: 30px;
            border: solid 1px rgba(0, 0, 0, .2);
            border-radius: 10px;
            padding: 4px;
        }

        .imgizq{

            margin-right: 5px;
            cursor: pointer;

        }

        .imgder{

            margin-left: 5px;
            cursor: pointer;
        }

        a{

            text-align: center;
            font-size: 15px;
            color: lightblue;
            text-decoration: none;
            width: 100%;
            position: relative;
            margin-top: 10px;
            float: left;
        }